{% extends "index" %}
{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ article_name }}</h1>
    <hr>
    <section class="content">
      This article doesn't exist yet. You can help extend Alpakistan Wiki by
      <a href="{{ article_name }}/edit">adding it!</a>
    </section>
  </div>
</section>
{% endblock body %}
