<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>
    {{ site_name }}
    {%- if article_name and not main_page %}
    - {{ article_name }}
    {%- elif page_name %}
    - {{ page_name }}
    {%- endif -%}
  </title>
  <link rel="stylesheet" href="/res/css/bulma.min.css">
  <link rel="stylesheet" href="/res/css/fontawesome.min.css">
  <link rel="stylesheet" href="/res/css/solid.min.css">
  <link rel="stylesheet" href="/res/css/index.css">

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="has-navbar-fixed-top">
  <nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="/Main">
        <strong>{{ site_name }}</strong>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        {# Search section #}
        <div class="navbar-item">
          <form action="/search">
            <div class="field has-addons">
              <div class="control">
                <input {% if query %}value="{{ query }}" {% endif %} class="input" type="text" name="q"
                  placeholder="Search">
              </div>
              <div class="control">
                <button class="button is-info" type="submit">
                  <span class="icon is-small">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <span class="sr-only">Search</span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        {# Login/Logout section #}
        {% if user_name %}
        <a class="navbar-item" href="u/{{ user_name }}">
          <span class="icon">
            <i class="fas fa-user-circle"></i>
          </span>
          <span>{{ user_name }}</span>
        </a>
        <a class="navbar-item" href="/create">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New article</span>
        </a>
        <a class="navbar-item" href="/u/logout">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
            <span class="sr-only">Logout</span>
          </span>
        </a>
        {% else %}
        <a class="navbar-item" href="/u/login">
          <span>Login</span>
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block body %}
  {% endblock body %}
</body>

</html>
