{% extends "index" %}
{% block extra_head %}
<meta http-equiv="Refresh" content="3; url='{{ default_path }}'" />
{% endblock %}
{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Success!</h1>
        <p>
            Your have successfully logged out.
        </p>
    </div>
</section>
{% endblock body %}
